In [15]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [4]:
us_state_abbrev = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 
                   'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 
                   'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 
                   'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 
                   'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 
                   'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT',
                   'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 
                   'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 
                   'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 
                   'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 
                   'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 
                   'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', 
                   'District of Columbia': 'DC'}

county_cross = pd.read_csv("data/CountyCrossWalk_Zillow.csv")
county_data = pd.read_csv("data/County_time_series.csv", parse_dates=['Date'])
county_data = county_data[['Date', 'RegionName', 'ZHVIPerSqft_AllHomes']].dropna().reset_index(drop=True)

county_data.head(5)

        Date  RegionName  ZHVIPerSqft_AllHomes
0 1996-04-30       10001                  58.0
1 1996-04-30       10003                  76.0
2 1996-04-30        1003                  62.0
3 1996-04-30        1009                  44.0
4 1996-04-30        1017                  49.0

In [5]:
county_data.shape

(376531, 3)

In [9]:
county_cross.head(5)

,CountyName,StateName,StateFIPS,CountyFIPS,MetroName_Zillow,CBSAName,CountyRegionID_Zillow,MetroRegionID_Zillow,FIPS,CBSACode
0,Pike,Pennsylvania,42,103,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",280,394913.0,42103,35620.0
1,Bronx,New York,36,5,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",401,394913.0,36005,35620.0
2,Essex,New Jersey,34,13,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",504,394913.0,34013,35620.0
3,Kings,New York,36,47,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",581,394913.0,36047,35620.0
4,Ocean,New Jersey,34,29,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",659,394913.0,34029,35620.0

In [7]:
county_cross.shape

(3144, 10)

In [6]:
available_fips = county_data['RegionName'].unique()
available_fips.shape

(1651,)

In [12]:
county_cross = county_cross[county_cross['FIPS'].isin(available_fips)].reset_index(drop=True)
county_cross.shape

(1651, 10)

In [13]:
d = county_cross[['FIPS','CountyName','StateName']]
d.head(5)

    FIPS CountyName     StateName
0  42103       Pike  Pennsylvania
1  36005      Bronx      New York
2  34013      Essex    New Jersey
3  34029      Ocean    New Jersey
4  34039      Union    New Jersey

In [16]:
c = []
for i in d['StateName'].values:
    c.append(us_state_abbrev[i])
d['StateCode'] = c
d = d.sort_values(['StateName', 'CountyName']).reset_index(drop=True)
d.to_csv('UI/plots/cross.csv',index=False)

In [17]:
d.head()

   FIPS CountyName StateName StateCode
0  1001    Autauga   Alabama        AL
1  1003    Baldwin   Alabama        AL
2  1009     Blount   Alabama        AL
3  1017   Chambers   Alabama        AL
4  1033    Colbert   Alabama        AL

In [18]:
d[d['StateName']=='Georgia'].head(20)

      FIPS CountyName StateName StateCode
215  13009    Baldwin   Georgia        GA
216  13011      Banks   Georgia        GA
217  13013     Barrow   Georgia        GA
218  13015     Bartow   Georgia        GA
219  13021       Bibb   Georgia        GA
220  13029      Bryan   Georgia        GA
221  13031    Bulloch   Georgia        GA
222  13033      Burke   Georgia        GA
223  13035      Butts   Georgia        GA
224  13037    Calhoun   Georgia        GA
225  13039     Camden   Georgia        GA
226  13045    Carroll   Georgia        GA
227  13047    Catoosa   Georgia        GA
228  13051    Chatham   Georgia        GA
229  13055  Chattooga   Georgia        GA
230  13057   Cherokee   Georgia        GA
231  13059     Clarke   Georgia        GA
232  13063    Clayton   Georgia        GA
233  13067       Cobb   Georgia        GA
234  13069     Coffee   Georgia        GA